body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafc;
    color: #595354;
}

.header {
    background-color: #ffffff;
    padding: 10px 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.header > .logo-container {
    display: flex;
    align-items: center;
}

.header > .logo-container > .logo-img {
    width: 100px;
    height: 60px;
    margin-right: 15px;
}

.header > .logo-container > .logo-text {
    font-size: 26px;
    font-weight: 700;
}

.header > .logo-container > .logo-text > .logo-highlight {
    color: #e53359;
}

.content-container {
    width: 100%;
    height: calc(100vh - 89px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.active-users-panel {
    width: 300px;
    height: 100%;
    border-right: 1px solid #cddfe7;
    overflow: scroll;
}

.panel-title {
    margin: 10px 0 0 0;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #cddfe7;
    padding-bottom: 10px;
}

.active-user {
    padding: 10px 30px;
    border-bottom: 1px solid #cddfe7;
    cursor: pointer;
    user-select: none;
}

.active-user:hover {
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
}

.active-user--selected {
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
}

.video-chat-container {
    padding: 0 20px;
    flex: 1;
    position: relative;
}

.talk-info {
    font-weight: 500;
    font-size: 21px;
}

.remote-video {
    border: 2px solid #cddfe7;
    width: 100%;
    height: 60%;
    max-height: 60%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.local-video {
    position: absolute;
    border: 1px solid #cddfe7;
    bottom: 60px;
    right: 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    margin: 0% 0% -20% -20%
}

.video-container {
    position: relative;
}

video::-webkit-media-controls-play-button {
    display: none;
}
video::-webkit-media-controls-timeline{
    display: none;
}
video::-webkit-media-controls-current-time-display{
    display: none;
}
video::-webkit-media-controls-timeline-container{
    display: none;
}

.resizeable {
    position: absolute;
    bottom: 40px;
    right: -5%;
    max-width: 500px;
    width: 300px;
    min-width: 200px;
}

.resizeable:hover {
    cursor: grab;
}

.resizeable2 {
    width: 60%;
    height: 70%;
    max-height: 100%;
    max-width: 60%;
}

.resizeable2:hover {
    cursor: crosshair;
}

.chat-container {
    /*margin: 10px 0 0 0;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    border-top: 1px solid #cddfe7;
    padding-bottom: 10px;
    bottom: 10px;*/
    width: 100%;
}

form { border: 1px solid #cddfe7; position: fixed; bottom: 0; width: 300px; padding: 4px 0px 2px 0px}
form input { border: 0px; border-radius: 3px; width: 72%; margin-right: 0.5%; margin-left: 1%; background: #cddfe7; height: 25px}
form button { width: 71px; background: #e53359; border: none; border-radius: 5px; padding: 10px; font-size: 14px; font-weight: bold}

#message-container {
    height: 100px;
    border-bottom: 0.5px solid #cddfe7;
    margin-bottom: 0.5%;
    overflow: scroll;
}

#pseudo-button {
    width: 100px;
    background: #cddfe7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
    right: 3%;
    top: 2%;
    position: absolute;
}




@media only screen and (max-width: 420px) {

    #pseudo-button {
        width: 100px;
        background: #cddfe7;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 11px;
        font-weight: bold;
        position: relative;
    }

    body {
        height: 80%;
    }

    .video-chat-container {
        padding: 0 20px;
        flex: 1;
        position: relative;
    }

    .active-users-panel {
        width: 150px;
        height: 100%;
        border-right: 1px solid #cddfe7;
        overflow: scroll;
    }

    form { border: 1px solid #cddfe7; position: fixed; bottom: 0%; width: 100%; padding: 4px 0px 2px 0px; background-color: white}
    form input { border: 0px; border-radius: 3px; width: 80%; margin-right: 0.5%; margin-left: 1%; background: #cddfe7; height: 25px}
    form button { width: 60px; background: #e53359; border: none; border-radius: 5px; padding: 10px; font-size: 11px; font-weight: bold}

    #message-container {
        height: 60px;
        border-bottom: 0.5px solid #cddfe7;
        margin-bottom: 0.5%;
        overflow: scroll;
    }

    .local-video {
        border: 1px solid #cddfe7;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        width: 100%;
    }

    .resizeable {
        position: relative;
        max-width: 200px;
        width: 100px;
        resize: none;
        right: 0%;
        top: 90px;
        margin: 100% 0% 0% 15%;
    }

    .resizeable2 {
        position: relative;
        max-width: 200px;
        width: 300px;
        resize: none;
        bottom: 0px;
        right: 0%;
        margin: 2% 0% 30% 0%;
    }

    .panel-title {
        margin: 10px 0 0 0;
        padding-left: 20px;
        font-weight: 500;
        font-size: 13px;
        border-bottom: 1px solid #cddfe7;
        padding-bottom: 10px;
    }

    .talk-info {
        font-weight: 500;
        font-size: 13px;
    }

    .active-user {
        padding: 10px 7px 10px 7px;
        border-bottom: 1px solid #cddfe7;
        cursor: pointer;
        user-select: none;
        font-size: 11px;

    }

    .active-user--selected {
        background-color: #fff;
        border-right: 2px solid #65a9e5;
        font-weight: 500;
        transition: all 0.5s ease;
        font-size: 11px;
    }


    .header > .logo-container > .logo-img {
        width: 80px;
        height: 45px;
        margin-right: 10px;
    }

    .header > .logo-container > .logo-text {
        font-size: 20px;
        font-weight: 700;
    }
}